@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
#board-info h1>a:nth-of-type(2){font-size:13px}
html {
   background: linear-gradient(to bottom, #8b0b0b, #F4F4F4);
  height: auto !important;
}
body {
letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'Nanum Gothic', sans-serif;
background-image: url('https://dandegimon.github.io/silgerher/images/snow1.png'), url('https://dandegimon.github.io/silgerher/images/snow2.png'), url('https://dandegimon.github.io/silgerher/images/snow3.png');
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 15s linear infinite;}
}

/* 전체 쉐도우 */

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 로고밑 NAV bar */

header #header-bar>.row {
    border: 3px solid #0f5912 !important;
    border-radius: 20px;
}

/* 헤더 배너 */

header .row>div:nth-child(1)>a {
  display: block;
  height: 65px;
  background: url(https://dandegimon.github.io/silgerher/images/sildolpu_188.png) no-repeat;
}

/*기본 로고 숨김*/
header .row>div:nth-child(1)>a>img {
  display: block;
 
 filter: grayscale(100%);
  opacity: 0;
}

/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border: 2px solid #0f5912;
  border-radius: 20px;
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */

#main .menu-wrapper>.header {
    background: #0f5912;
    border: 3px solid #0f5912 !important;
    border-radius: 10px 10px 0 0;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #8cc251;
}

header #header-bar>.row,
#main .menu-wrapper {
  border-right: none;
  border-bottom: none;
}

#main #main-content>div.frame{
    border: 3px solid #0f5912 !important;
    border-radius: 10px;
}

#main .menu-wrapper {
border-radius: 10px;
}

/* 헤더 검색 버튼 */

header #right-search-form>#right-search-btn {
  color: #0f5912;
}

/* 헤더 [광고]배경색 */

header #header-bar #header-top-notice strong.notice-badge {
  background: #8e0c0c;
}

/* fa색상 */

header #header-bar .fa {
  color: #8e0c0c;
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #0f5912;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */

#main .menu-wrapper>a>em {
  color: #0f5912;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */

#main .menu-wrapper .spacer {
  background: #0f5912;
  height: 0.15em;
}

/* 게시글 관련부분 */

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
     border: 2px solid #0f5912;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
/*카테고리 안 색상*/
#article-list #article-list-category>a {
  background: white;
}

/*추천수*/
#article-list>.article-list-row>.item>.list-header>span {
    background-color: #8e0c0c;
    color: #fff;
    font-weight: bold;
    padding: 1px 6px;
    font-size: 11px;
    border-radius: 50%;
}

/*댓글수*/
#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #8e0c0c;
}

/*글쓴이색*/
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #0f5912;
}

/*선택된 페이지 색상*/
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #0f5912;
  border-color: #0f5912;
}

/* 게시글 페이지 숫자 테두리*/
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #0f5912;
}

/*선택되지 않은 페이지 색상*/
.pagination>li>a,
.pagination>li>span {
  color: #8e0c0c;
}

/*카테고리 옆 빈공간 색*/
#article-content-wrapper>.header {
  border-top: 2px solid #0f5912;
}

#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #0f5912 !important;
}

#article-reply-area>.header h5 {
  color: #0f5912;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

/* 집모양 */
a {
  color: #0f5912;
}

/* 공지사항 동그라미 */
span.a-badge i.fa.fa-info-circle {
  color: #0f5912;
}

/* footer */

#article-list>.article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

/*글쓰기 색상*/
.btn-primary {
  background: #0f5912 !important;
 border-color: #8cc251;
}
.fr-toolbar{
border-color:#8cc251; 
}



#article-list #article-option-area{
display:none;
}

/*광고양옆 짝대기*/
header #header-bar #header-menu-left, header #header-bar #header-menu-right{border: 0px;}
/*광고뱃지*/
header #header-bar #header-top-notice strong.notice-badge{display:none;}

/* 사람수 옆 이미지 색상 */
#board-info #viewers-area {
color: #0f5912;
font-weight: 700;
}

#board-info #viewers-area #viewers:after {
    content: "명의 헨타이";
    cursor: text;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover{border-radius: 10px 0 0 10px;}

/*공지사항 배경색*/
#article-list>.article-list-row.notice{
    background-color: #fffceb;
    border-radius: 15px;
    border: 2px solid;
    margin-bottom: 5px;
    border-color:rgba(0,0,0,0);
    animation: bg  2s infinite linear;
}
#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time{
border-bottom:none;
}


.fa-heart:before {
     content: url(https://dandegimon.github.io/silgerher/images/heart.gif);
    position: relative;
    top: -2px;
    display: inline-block;
}

header #header-bar #header-menu-left #playgroundDropdown {
   padding-left: 0.3em;
    padding-right: 0.7em;
}

/*실프프사동그라미*/
#board-info #board-info-profile-img{
    width: 6.5em;
    height: auto;
    float: left !important;
    border-radius: 50%;
    border: 3px solid #0f5912;
    position: relative;
    top: -12px;
    left: -10px;
    animation: doongdoong 2s infinite linear;
}
#board-info{
height: 100px;
}
element.style {
}
header #header-bar #header-menu-left #favoriteDropdown {
    padding-left: 0.3em;
    padding-right: 0.5em;
}

#board-info h1>a{
    text-decoration: none;
    color: #ff0000;
    font-size: 36px;
    font-weight: bold;
}
.label-default{
background:#0f5912
}
#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply{
border:none
}
#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    background: #f7f7f7;
    border: 2px solid #0f5912;
    padding: 0.4em 0.5em;
    border-radius: 10px;
}



/* 눈 내리는 효과 설정 CSS 파일 맨 아래에 추가*/
@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
  
@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
  
@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 50% {}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
  
@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

