header .row>div:nth-child(1)>a {
float: left;
position: absolute;
background:url('https://dandegimon.github.io/silgerher/images/sildolpu_188.png') no-repeat; /*로고*/
background-size: cover;
display: block;
width: 188px;
height: 65px;
}

header .row>div:nth-child(1)>a img {
display: none; /*기본 로고 숨김*/
}



/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border: 3px solid #0f5912;
}

/* 로고밑 NAV bar */

header #header-bar>.row {
  border-top: 4px solid #0f5912;
  border-right: none;
  border-bottom: none;
}

/* 헤더 검색 버튼 */
header #right-search-form>#right-search-btn {
  color: #0f5912;
}

/* 게시글 작성자 색 */
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span{
color: #0f5912;
}

/* 게시글 댓글 갯수 색 */
#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #8cc251;
}


/* 좌측 메뉴 큰틀 배경색 */
header #header-bar #header-top-notice strong.notice-badge,
#main .menu-wrapper>.header,
#article-list>.article-list-row>.item>.list-header>span{
background: #0f5912;
}

/* 카테고리 옆 빈공간 색 */
#article-list #article-list-category,
#article-content-wrapper>.header{
border-top: 2px solid #0f5912;
background: #fffceb;
}

/* 카테고리 색상 */
#article-list #article-list-category>a{
background: #fffceb;
}

/* 게시글 페이지 숫자 테두리 */
.pagination>li>a,
.pagination>li>span{
color : #0f5912;
}

/* 게시글 페이지 선택된 곳 배경 */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span, 
.pagination>.active>span:focus,
.pagination>.active>span:hover{
background: #8e0c0c;
}

/* 게시글 페이지 선택된 곳 테두리 */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover{
border: 1px solid #0f5912;
}

/* 글쓰기 배경과 테두리 */
.btn-primary{
background: #8e0c0c;
border: 1px solid #0f5902;
}

/* 전체 게시판 배경 색 */
#main .menu-wrapper .spacer{
background: rgba(255,255,255,0);
}

/* 공지사항 배경 색 */
#article-list>.article-list-row.notice{
background: #fffceb;
}

/* 사람수 옆 이미지 색상 */
#board-info #viewers-area {
color: #0f5912;
font-weight: 700;
}

/* 사람수 */
#viewers:after {
    content: "명의 헨타이";}

/* fa색상 광고 옆 글자 */

header #header-bar .fa {
  color: #8e0c0c;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */

#main .menu-wrapper>a>em {
  color: #0f5912;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */

#main .menu-wrapper .spacer {
  background: #8e0c0c;
  height: 0.15em;
}

/* 유용한 링크와 스케줄 네모박스 */
.fa-square:before {
  color: #0f5912;
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #9b0202;
}

/*광고양옆 짝대기*/
header #header-bar #header-menu-left, header #header-bar #header-menu-right{border: 0px;}
/*광고뱃지*/
header #header-bar #header-top-notice strong.notice-badge{display:none;}

/* 집모양 */
a {
  color: #0f5912;
}

/* 공지사항 동그라미 */
span.a-badge i.fa.fa-info-circle {
  color: #8e0c0c;
}

/* footer */

#article-list>.article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

/* 눈 내리는 효과 설정 CSS 파일 맨 아래에 추가*/
@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
  
@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
  
@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 50% {}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
  
@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}